<div id="header">

   <%= image_tag("SiriEvents1.png", :alt => "Siri Events Logo", :width=>"180" ,:height=>"100", :class => "round") %>

  <ul class="navigation round">
    <li><%= link_to "Twitter", '#' %></li>
    <li><%= link_to "Facebook", '#' %></li>
    <li><%= link_to "Instagram", '#' %></li>
    <li><%= link_to "YouTube", '#' %></li>
  </ul>

  <ul class="menu-bar">
  <li><%= link_to "Home", '#' %></li>
  <li><%= link_to "Services", '#' %></li>
  <li><%= link_to "Gallery", '#' %></li>
  <li><%= link_to "Contact", '#' %></li>
  </ul>



</div>